.title {
  font-family: 'museo-slab', serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #0FBF99;
  margin-bottom: 1.25em;
}

.text {
  font-family: 'museo-slab', serif;
  font-weight: 300;
  font-size: 1em;
  color: #0FBF99;
}

.possible_answer  {
  padding: .75em;
}

.possible_answer:hover {
	background: rgba(141, 191, 15, 0.5);
	cursor: pointer;
  font-weight: bold;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.wrong-answer {
	background: #C91E46;
}

.correct-answer {
  background: #0FBF99;
}

.selected {
  opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	padding: 1em;
	background-color: #C91E46;
	font-weight: bold;
	font-size: 1.25em;
}

p {
  font-family: "rucksack",sans-serif;
}
