.tooltipster-noir {
	border-radius: 0px;
	border: 3px solid #C91E46;
	background: #fff;
	color: #C91E46;
}
.tooltipster-noir .tooltipster-content {
	font-family: 'Roboto', serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

.circle {
	width: 100px;
	height: 100px;
}
